@charset "UTF-8";

/* Font: Dagny Display */
@font-face {
	font-family: 'DagnyDisplay';
	src: url('fonts/DagnyDisplay.woff') format('woff'), url('fonts/DagnyDisplay.ttf') format('truetype'), url('fonts/DagnyDisplay.svg#DagnyDisplay') format('svg');
	font-style: normal;
	font-weight: 700
}

@font-face {
	font-family: 'DagnyDisplay';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/DagnyDisplay-Light.woff.eot);
	src: local('DagnyDisplay-Light'), local('DagnyDisplay-Light'), url(fonts/DagnyDisplay-Light.eot) format('embedded-opentype'), url(fonts/DagnyDisplay-Light.woff) format('woff')
}

@font-face {
	font-family: 'DagnyDisplay';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/DagnyDisplayReg.eot);
	src: local('DagnyDisplayReg'), local('DagnyDisplayReg'), url(fonts/DagnyDisplayReg.eot) format('embedded-opentype'), url(fonts/DagnyDisplayReg.woff) format('woff')
}

@font-face {
	font-family: 'DagnyDisplay';
	font-style: normal;
	font-weight: 700;
	src: url(fonts/DagnyDisplay.eot);
	src: local('DagnyDisplay'), local('DagnyDisplay'), url(fonts/DagnyDisplay.eot) format('embedded-opentype'), url(fonts/DagnyDisplay.woff) format('woff')
}

@font-face {
	font-family: "NN Dagny Text Light";
	src: url('fonts/NNDagnyTextWeb-Light.eot');
	src: url('fonts/NNDagnyTextWeb-Light.woff') format('woff');
}

@font-face {
	font-family: "NN Dagny Text";
	src: url('fonts/NNDagnyTextWeb.eot');
	src: url('fonts/NNDagnyTextWeb.woff') format('woff');
}

@font-face {
	font-family: "NN Dagny Display";
	src: url('fonts/NNDagnyDisplayWebPro.eot');
	src: url('fonts/NNDagnyDisplayWebPro.woff') format('woff');
}

@font-face {
	font-family: "NN Dagny Display SC";
	src: url('fonts/NNDagnyDisplayScWebPro.eot');
	src: url('fonts/NNDagnyDisplayScWebPro.woff') format('woff');
}
html,body {
	height: 100%;
	width: 100%;
	font-family: 'DagnyDisplay';
	font-weight: 300;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
}
@font-face {
	font-family: "icons";
	src: url("fonts/icons.eot");
	src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
	font-weight: normal;
	font-style: normal
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-call:before {
	content: "f"
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  overflow: hidden;
  position: relative;
  
  background-color: #fff;
  -webkit-transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  will-change: width, height, opacity, transform, clip-path;
  z-index: 1;
}
.content {
  flex: 1 0 auto;
}
.navbar-absolute {
    position: absolute;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    z-index: 3;
	padding-top: 1.5rem;
}
@media (max-width: 576px) {
	.navbar-absolute {
		padding-top: .5rem;
	}
}
.text-white {
    color: #fff !important;
}
.position-relative {
    position: relative !important;
}
.bg-overlay-primary::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(237,113,10,.85);/*rgba(18,131,218,.85);*/
    z-index: 2;
}
.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.logo-tfi, .logo-ppk, .border-logo {
	border-radius: 25px;
}
.logo-ppk {
	height: 62px;
	/*-webkit-box-shadow: 0px 0px 65px 27px rgba(231,166,26,1);
	-moz-box-shadow: 0px 0px 65px 27px rgba(231,166,26,1);
	box-shadow: 0px 0px 65px 27px rgba(231,166,26,1);*/
	-webkit-box-shadow: inset 0px 0px 65px 27px rgba(231,166,26,1);
-moz-box-shadow: inset 0px 0px 65px 27px rgba(231,166,26,1);
box-shadow: inset 0px 0px 65px 27px rgba(231,166,26,1);
}
.navbar-brand {
	position: relative;
}
.border-logo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100%;
    height: 100%;
	background-color: #fff;
	opacity: .2;
	-webkit-box-shadow: inset 0px 0px 65px 27px rgba(231,166,26,1);
	-moz-box-shadow: inset 0px 0px 65px 27px rgba(231,166,26,1);
	box-shadow: inset 0px 0px 18px 18px rgba(231,166,26,1);
}
.breadcrumb-absolute {
	margin-top: -94px;
	position: absolute;
}
.breadcrumb {
	background-color: transparent;
}
.breadcrumb  a{ 
	color: #F08B00;
}
.ml-60 {
	margin-left: 60px;
}
.mt-3 {
    margin-top: 3rem !important;
}
.pb-8 {
    padding-bottom: 7.5rem !important;
}
.pt-8 {
    padding-top: 7.5rem !important;
}
.w-100 {
    width: 100% !important;
}
.bt-1 {
	border-top: 1px solid rgba(0,0,0,.125) !important;
}
.btn-outline-orange {
  color: #ED710A;
  background-color: transparent;
  background-image: none;
  border-color: #ED710A;
}
.btn-outline-orange:hover, .page-link:hover {
  color: #fff;
  background-color: #ED710A;
  border-color: #ED710A;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 113, 10, 0.5);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
  color: #ED710A;
  background-color: transparent;
}

.btn-corner {
	border-radius: 0 !important;
}
.btn-nn  {
	display: inline-block;
	white-space: nowrap;
	/*padding: 10px 18px 6px !important;*/
	background: #ea650d !important;
	font-weight: bold;
	font-size: .88888889em;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
}
.btn-nn:after {
	font-family: "icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: ">";
	position: relative;
	top: .225em;
	margin-left: 1.234567861550342em;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	padding: .4em 0 .5em .925925882319418em;
	margin-right: -0.32407412em
}
.btn-nn:hover {
	background-color: #ef7f01 !important;
	text-decoration: none
}

.action-cell {
	background-color: #fff !important;
}

.intro-content {
    z-index: 2;
    position: relative;
}
.color-1 {
	background-color: #F8F7F6;/*#C0EDEA;*/
}
.color-2 {
	background-color: #ED710A;
}
.light-orange {
    color: #F08B00;
}
.medium-orange {
    color: #ED710A;
}
.dark-orange {
    color: #E94E15;
}
.ico-orange {
	font-size: 2rem;
	color: #F08B00;
}
.table .thead-dark-orange th {
    color: #fff;
    background-color: #E94E15;
    border-color: #E94E15;
}
.table .thead-medium-orange th {
    color: #fff;
    background-color: #ED710A;
    border-color: #ED710A;
}
.table-hover tbody tr:hover {
  background-color: #F08B00;
  color: #fff;
}
.table-hover tbody tr:hover  .ico-orange{
	color: #fff;
}
.page-link {
	color: #ED710A;
}
.page-link:focus, .page-link.focus {
	box-shadow: none;
}
.page-item.active .page-link {
	background-color: #F08B00;
	border-color: #F08B00;
}
.round {
	border-radius: 50%;
}
footer {
	padding-bottom: 4.5rem;
	padding-top: 4.5rem;
	flex: 0 0 auto;
	font-size: .9em;
}

footer .list-group-item {
	font-size: .75rem;
	font-weight: 400;
	line-height: 1;
	padding: 0.75rem 1rem;
}
.specific_part .column_2 .list_item {
	padding: 20px 0
}
.specific_part .column_2 .list_item:after {
	content: "";
	display: table;
	clear: both
}
.specific_part:after {
	content: "";
	display: table;
	clear: both
}
UL.menu_list{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: .75em;
}
.specific_part UL.menu_list>LI {
	float: left;
	margin-right: 10px;
	line-height: 1.4
}

.specific_part UL.menu_list>LI:after {
	content: "";
	border-right: 1px solid #e8e4e3;
	padding-left: 10px;
	height: 1em;
	display: inline-block;
	vertical-align: text-top
}
UL.menu_list>LI:last-child:after {
	display: none
}
UL.menu_list>LI A:hover {
	text-decoration: none;
}
UL.menu_list>LI SPAN {
	color: #7c7c7c;
	font-size: 1.1em
}
UL.menu_list>LI SPAN:hover {
	color: #ef7f01
}
UL.menu_list>LI SPAN:hover SPAN {
	color: #ef7f01
}
.column_2 P {
	color: #a0a0a0;
	line-height: 1.4
}
.column_2 P.dark {
	color: #7c7c7c;
	margin-top: 30px
}
.column_1 {
    color: #a0a0a0;
	padding-left: 50px;
	position: relative;
}
.column_1 .call {
	font-size: 1.8em;
	font-weight: 700;
	margin-bottom: 25px;
	display: inline-block;
	color: #ea650d;
	margin-left: 50px;
}
.column_1.icon-call:before {
	font-size: 24px;
	position: absolute;
	left: 50px;
	top: 2px;
	width: 34px;
	height: 34px;
	padding: 5px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	color: #fff;
	background: #ea650d
}
.column_1 .call.first::after {
    content: "";
    margin: 0 0 0 20px;
}
.small_box {
    font-size: 1em;
}
.small_box .scroll_top {
    padding: 20px;
	padding-top: 0;
    text-align: center;
}
.small_box .scroll_top SPAN {
    color: #ea650d;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}
.small_box .scroll_top SPAN:after {
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "g";
    padding-left: 10px;
}
.small_box .call_box {
    margin: 0 -15px;
    padding: 20px;
    text-align: center;
    color: #fff;
}
A.callme_button {
    background: #ea650d;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    font-size: 1.678em;
    border: 1px solid #fff;
    padding: 12px 20px 8px 60px;
    position: relative;
}
A.callme_button:after {
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ">";
    font-size: .678em;
    margin-left: 20px;
}
A.callme_button:before {
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "f";
    position: absolute;
    left: 10px;
    top: 13px;
    width: 40px;
    height: 40px;
    padding: 7px 7px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: #ea650d;
    background: #fff;
    font-size: .678em;
}
.small_box .call_box .callme_button {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #ea650d;
    color: #ea650d;
    min-width: 266px;
}
.small_box .call_box .callme_button:before {
    top: 10px;
    color: #FFF;
    background: #ea650d;
    font-size: 23px;
}
.small_box p {
    color: #7c7c7c;
}
.small_box .bottom_box {
    padding: .8335em 5px;
	text-align: center;
	border-top: 1px solid #e8e4e3;
}
.small_box .bottom_box A {
    color: #a0a0a0;
}


body.is-froze {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.wrapper.is-active {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  width: calc(100vw - 60px);
  pointer-events: none;
  opacity: 0.25;
  -webkit-transform: scale(0.9) translate3d(60%, 0, 0);
          transform: scale(0.9) translate3d(60%, 0, 0);
}
@media (min-width: 600px) {
  .wrapper.is-active {
    -webkit-transform: scale(0.9) translate3d(40%, 0, 0);
            transform: scale(0.9) translate3d(40%, 0, 0);
  }
}
.wrapper.is-transition-out {
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
}

.nav__bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  border-right: 1px solid rgba(125, 135, 168, 0.25);
  background-color: #F9F9F9;/*#F8F7F6;*/
  z-index: 99;
}

.nav__trigger {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  padding: 8px 0;
  margin-top: -10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 99;
}
.nav__trigger .bars {
  position: relative;
}
.nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
  width: 28px;
  height: 4px;
  background-color: #ED710A;/*#7d87a8;*/
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
}
.nav__trigger .bars:before, .nav__trigger .bars:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.nav__trigger .bars:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.nav__trigger .bars:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}
.nav__trigger.is-active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
  -webkit-transform: translateX(0) rotate(-90deg);
          transform: translateX(0) rotate(-90deg);
}

.nav__menu {
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F9F9F9;/*#F8F7F6;*/
  z-index: 0;
}

.nav__list {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin: 0;
  padding-left: 60px;
  list-style: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav__list .nav__item {
  padding: 0.5rem 1rem;
}
@media (min-width: 600px) {
  .nav__list .nav__item {
    width: 33.3333333333%;
    padding: 0.5rem 1rem;
  }
}
.nav__list a {
  display: inline-block;
  color: #ED710A;/*#7d87a8;*/
  font-size: 1rem;
  line-height: 1.5;
}
.nav__list a:hover {
  color: #F08B00;/*#b1b7cb;*/
}
.nav__list a.is-active {
  color: #E94E15;/*#d2d5e1;*/
}
@media (min-width: 600px) {
  .nav__list a {
    font-size: 1.5rem;
  }
}